h1 { 
text-align:
center;
font-family: Xanmono;
color: rgb(4, 53, 102);
font-size: 23.5px;
}
h2 { 
text-align: center;
font-family: Xanmono;
color: rgb(4, 53, 102);
font-size: 17.5px;
    }
h3 {
text-align: center;
font-family: Xanmono;
color: rgb(4, 53, 102);
font-size: 14.5px;
}
h4 {
text-align: left;
column-count: 2;
column-width: 75px;
color: rgb(6, 43, 80);
font-family: Xanmono;
font-size: 10px;
}

.header1 {
background-color: rgba(61, 204, 156, 0.774);
/* padding: 15px 32px; */
border-radius: 12px;
margin-top: 10px;
color: rgb(4, 53, 102);
text-align: center;
font-size: 12px;
height: 50px;
align-content: center;
align-self: center;
display: table;
position: fixed;

}

* {
box-sizing: border-box;
}

@media (max-width: 600px) {
.header1 {
width: 100%;
}
}

p {
text-align: left;
column-count: 2;
column-width: 75px;
color: rgb(6, 43, 80);
font-family: Xanmono;
font-size: 12px;
}
strong {
text-align: left;
column-count: 2;
column-width: 75px;
color: rgb(6, 43, 80);
font-family: Andy;
font-size: 18px;
}
a:link {
color: rgb(47, 100, 153);
font-family: Andy;
font-size: 18px;
text-decoration: none;
}
a:hover {
color: rgb(17, 32, 167);
font-family: Xanmono;
font-size: 12px;
text-decoration: none;
}
/*
a:active {
color: rgb(47, 100, 153);
font-family: Xanmono;
text-decoration: none;
}
a:visited {
color: rgb(95, 107, 218);
font-family: DDF;
text-decoration: none;
}
*/
@font-face {
font-family: Xanmono;
src: url(Fonts/Xanmono-Regular.ttf);
}
@font-face {
font-family: MC;
src: url(Fonts/Monocraft.ttc);
}
@font-face {
font-family: DDF;
src: url(Fonts/DungeonFont.ttf);
}
@font-face {
font-family: Andy;
src: url(Fonts/ANDYB.TTF);
}
body {
background-color: mediumseagreen;
overflow: auto;
}
.button1 {
background-color: rgb(40, 163, 130); 
border-radius: 12px;
cursor: pointer;
padding: 0px 15px;
text-align: center;
text-decoration: none;
display: inline-block;} 
.button2 {
background-color: rgb(40, 163, 130); 
border-radius: 12px;
cursor: pointer;
padding: 0px 15px;
text-align: center;
text-decoration: none;
display: inline-block;}
.button3 {
background-color: rgb(40, 163, 130);
border-radius: 12px;
cursor: pointer;
padding: 0px 15px;
text-align: center;
text-decoration: none;
display: inline-block;}
.button4 {
background-color: rgb(40, 163, 130);
border-radius: 12px;
cursor: pointer;
padding: 0px 15px;
text-align: center;
text-decoration: none;
display: inline-block;}
.button5 {
background-color: rgb(40, 163, 130);
border-radius: 12px;
cursor: pointer;
padding: 0px 15px;
text-align: center;
text-decoration: none;
display: inline-block;}
.button6 {
background-color: rgb(40, 163, 130);
border-radius: 12px;
cursor: pointer;
padding: 0px 15px;
text-align: center;
text-decoration: none;
display: inline-block;}
.button7 {
background-color: rgb(40, 163, 130);
border-radius: 12px;
cursor: pointer;
padding: 0px 15px;
text-align: center;
text-decoration: none;
display: inline-block;}
.button8 {
background-color: rgb(40, 163, 87);
border-radius: 12px;
cursor: help;
padding: 0px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
border-color: hsl(115, 84%, 43%);
border-style: solid;
}
.button9 {
background-color: rgb(40, 163, 87);
border-radius: 12px;
padding: 0px 15px;
text-align: center;
align-self: center;
text-decoration: none;
align-content: center;
display: inline-block;
border-color: hsl(115, 84%, 43%);
border-style: solid;
}
.button10 {
background-color: rgb(40, 163, 87);
border-radius: 12px;
cursor: crosshair;
padding: 0px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
border-color: hsl(115, 84%, 43%);
border-style: solid;
}
iframe {
border: 0;
margin: 0;
resize: both;
min-height: initial;
min-width: initial;
}
